<!DOCTYPE html>
<html>
<head>
<title>#kayyumRektoreHayir</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bogazicine yeni atanan kayyum..">
<style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h2{text-align:center;font-family:Georgia, serif;letter-spacing:4px;color:#e817b0;background-color:#cfc4c4;}
p {text-align:center;font-family:Times, serif;font-size:22px;font-style:normal;font-weight:bold;letter-spacing:2px;color:#2f2ced;background-color:#f28c8c;}
</style>
</head>
<title>#KayyumRektoreHayir</title>

<body>
<h2>MELİH BULU İSTİFA</h2>
<p>1.GÖZALTILAR SERBEST BIRAKILSIN</p>
<p>2.MELİH BULU İSTİFA ETSİN</p>
<p>3.OKULA POLİS GİRMESİN</p>

<h1 style="text-align:center; color: darkblue">MELIH BULU ISTIFA ! </h1>

<img src="static/melihbulu.jpg" alt="Kayyum" width="800" height="600">
<img src="static/kayyum1.jpg" alt="Protesto" width="800" height="600">

</body>
</html>